[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
json = "*"
pprint = "*"
praw = "*"
pysnooper = "*"

[requires]
python_version = "3.7"
